*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;  
  background-color: #d4d4d4;
}
.maincontainer{
    max-width: 320px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #06fa22;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.619);
    background-color: #000000f7;
}

.color{
    color: #0bfa33;
}