.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    border: 1px solid #0bfa33;
    border-radius: 10px;
    background-color: #202020c0;
    color: #0bfa33;
    cursor: pointer;
}