.inputarea{
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #0bfa33;
    border-radius: 10px;
    background-color: #40404066;
    color: #fff;
}