#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}

.app{
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  min-width: 400px;
}
